{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">Dashboard</h2>
<div class="row g-4">
    <div class="col-md-4">
        <div class="card p-4 text-center">
            <h5>Total Books</h5>
            <h2>{{ total_books }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-4 text-center">
            <h5>Total Members</h5>
            <h2>{{ total_members }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-4 text-center">
            <h5>Total Issued Books</h5>
            <h2>{{ total_issued }}</h2>
        </div>
    </div>
</div>
{% endblock %}
