{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h2 class="mb-3">Return Book</h2>
            <p>Are you sure you want to mark <strong>{{ object.book.title }}</strong> as returned for <strong>{{ object.member.name }}</strong>?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Return</button>
                <a href="{% url 'transaction_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
